<div class="layout">
    {{paper-input
        class="flex"
        label="Search"
        type="search"
        value=this.query
        onChange=(action (mut this.query))
        onKeyDown=onQueryChange
    }}
</div>
